:host{
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-height: 100px;
  background-color: #5E60CE;
  padding: 1rem;
}

.logo-taskflow{
  font-size: 2.8rem;
  font-weight: bold;
}
