<div class="grid-container">
  <app-day *ngFor="let day of thisWeek" [style.gridColumn]="day.column"
   [day]="day.day" [weekDay]="day.week" [isToday]=isToday(day.column)></app-day>

  <!-- Componentes de tarefa distribuídos pela semana -->
  <app-task-component
    *ngFor="let task of tasks"
    [style.gridColumn]="setColumn(task.initialDay, task.final)"
    [style.gridRow]="task.rowStart + ' / ' + task.rowEnd"
    [title]="task.title"
    [days]="setDeadLine(task.initialDay, task.final)"
    [percentage]="task.percentage"
  >
  </app-task-component>
</div>
