:host{
  background-color:rgba(242, 233, 228, 0.4);
  flex: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--font-color);
  text-align: center;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);

  &.is-today{
    color: var(--secondary-color);
    background-color: var(--tertiary-color);

    .day-week::after{
      content: "↓";
      display: block;
      color: var(--secondary-color);
    }
  }
}

.day-week::after{
  content: "|";
  display: block;
  color:  var(--font-color);
  font-size: 16px;
  margin-top: 4px;
  text-align: center;
}
