:host{
  background-color: var(--background-color);
  width: 100vw;
  height: 100vh;
  display: block;
}

.container-content{
  display: flex;
  margin-top: 3rem;
}

app-side-bar{
  margin: 4rem 4rem 0 4rem;
}


@media(max-width: 700px){
  :host{
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  app-side-bar{
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    margin: 0 0 0.8rem 0;
  }
}
