@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Poppins:wght@500&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
/*reset css */
/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

body {
  /* 3. Add accessible line-height */
  line-height: 1.5;
  /* 4. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 5. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* 6. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}

/* 7. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* 8. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

/*
  9. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}

/* css defaults */

:root{
  --primary-color: rgb(94, 96, 206);
  --font-color: rgb(51, 51, 51);
  --background-color: rgb(255, 255, 255);
  --secondary-color: rgb(255, 92, 92);
  --tertiary-color: rgb(242, 233, 228);
  --logo-font-family: "Poppins", sans-serif;
  --logo-font-size: 2.5rem;
  --titles-font-family: "Oswald", sans-serif;
  --text-font-family: "Roboto", sans-serif;
  --text-font-size: 16px;
  --h1-size: 32px;
  --h2-size: 28px;
  --h3-size: 24px;
  --h4-size: 20px;
}

.dark-theme{
  --primary-color: rgb(59, 59, 146);
  --font-color: rgb(224, 224, 224);
  --background-color: rgb(18, 18, 18);
  --secondary-color: rgb(255, 132, 132);
  --tertiary-color: rgb(255, 215, 0);

}

.logo-taskflow{
  font-family: var(--logo-font-family);
  font-size: var(--logo-font-size);
}

h1, h2, h3, h4 {
  font-family: var(--titles-font-family);
}

h1{
  font-size: var(--h1-size) ;
}

h2{
  font-size: var(--h2-size);
}

h3{
  font-size: var(--h3-size);
}

h4{
  font-size: var(--h4-size);
}

p, span{
  font-family: var(--text-font-family);
  color: var(--font-color);
}

body{
  font-size: var(--text-font-size);
  background-color: var(--background-color);
}

@media(max-width: 480px){
  :root, .dark-theme{
    --text-font-size: 15px;
    --logo-font-size: 2rem;
    --h1-size: 24px;
    --h2-size: 20px;
    --h3-size: 18px;
    --h4-size: 16px;
  }
}

body.dragging * {
  cursor: grabbing !important;
}
